* {
    box-sizing: border-box;

}
body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(255, 128, 128) 0%, rgb(255, 0, 21) 100%);
}
.subway {
    width: 100%;
    margin: 0 auto;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(255, 128, 128) 0%, rgb(255, 0, 21) 100%);
    padding: 1rem 0;
    height: 64px;
    overflow-x: auto;
}
